<!-- wp:template-part {"slug":"header","theme":"gigantic-construction","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"},"padding":{"top":"0px","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;padding-top:0px;padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:pattern {"slug":"gigantic-construction/template-page"} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"gigantic-construction","tagName":"footer"} /-->
