<!-- wp:template-part {"slug":"header","theme":"gigantic-construction","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:pattern {"slug":"gigantic-construction/template-search"} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"gigantic-construction","tagName":"footer"} /-->